/*
Giannis Tsapelas 2015
*/

table {
    width: 100%;
}

tr{
    display: table-row;
}

thead th {
    height: 40px;
    color: white;
}


table > thead {
     background-color: #054993;
}

.table-hover tbody tr:hover {
    background-color: yellowgreen;
    cursor: pointer;
}

.selected {
    background-color: yellowgreen;
}

